@media screen and (max-width: 576px) {
  .container {
    width: 1024px;
    margin: 150px 0 0 0;
  }

  .header-block {
    position: fixed;
    padding: 40px;
    background-image: url(../img/header.jpg);
    background-size: cover;
    z-index: 999;
    margin: -150px 0 0 0;
  }

  .header-carousel {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 999;
  }

  .mobile-menu-btn {
    position: relative;
    top: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s;
    z-index: 999;
  }

  .mobile-menu-icon {
    display: block;
    position: relative;
    background: white;
    width: 90%;
    height: 4px;
    transition: 0.4s;
  }

  .mobile-menu-icon::after,
  .mobile-menu-icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 4px;
    transition: 0.4s;
  }

  .mobile-menu-icon::after {
    top: 14px;
  }

  .mobile-menu-icon::before {
    top: -14px;
  }

  .mobile-menu-container {
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 998;
    height: 0;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
    overflow: hidden;
    background-color: #4d4c48;
  }

  .menu-ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 0.5s;
    transition-delay: 0.5s;
    list-style: none;
    padding-left: 0;
    margin-top: 1px;
  }

  .menu-link {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    line-height: 1.43;
  }

  .mobile-menu-checkbox {
    display: none;
  }

  .mobile-menu-checkbox:checked ~ .mobile-menu-nav {
    opacity: 1;
    transition-delay: 0s;
  }

  .mobile-menu-checkbox:checked ~ .mobile-menu-container {
    height: 100%;
    transition-delay: 0s;
    top: 0;
  }

  .mobile-menu-checkbox:checked ~ .mobile-menu-btn .mobile-menu-icon {
    background: transparent;
  }

  .mobile-menu-checkbox:checked ~ .mobile-menu-btn .mobile-menu-icon::before,
  .mobile-menu-checkbox:checked ~ .mobile-menu-btn .mobile-menu-icon::after {
    top: 0;
  }

  .mobile-menu-checkbox:checked ~ .mobile-menu-btn .mobile-menu-icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .mobile-menu-checkbox:checked ~ .mobile-menu-btn .mobile-menu-icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .button-cart {
    background: transparent;
    display: block;
    outline: none;
    border: none;
    padding: 0;
    min-height: 60px;
    margin-left: -116px;
    margin-top: 10px;
    transform: scale(2);
  }
  .button-cart:active {
    fill: #c7b299;
  }

  .search-form {
    position: relative;
    width: 24px;
    min-height: 24px;
    margin: -42px 0 0 139px;
    transform: scale(2);
  }

  .search-form-img {
    width: 24px;
    height: 24px;
  }

  .search-form-input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    left: -119px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
  }

  .search-form-input:focus {
    width: 250px;
    min-height: 25px;
    left: -166px;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    border: 1.5px solid #fff;
  }
  .pagination {
    display: none;
  }

  .options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .options-block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 400px;
    padding: 10px 10px 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .options-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 400px;
    padding: 10px 10px 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .options-block:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
  }
  .options-block1:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
  }

  .options-block:hover .options-svg {
    fill: #c7b299;
  }
  .options-block1:hover .options-svg {
    fill: #c7b299;
  }

  .options-block:hover .options-block-h2 {
    color: #c7b299;
  }
  .options-block1:hover .options-block-h2 {
    color: #c7b299;
  }

  .options-block:hover:after {
    background-color: #c7b299;
  }
  .options-block1:hover:after {
    background-color: #c7b299;
  }

  .options-svg {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0;
  }

  .options-block-h2 {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
    font-family: "raleway semibold", "open sans semibold", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #555555;
  }

  .options-block-txt {
    font-family: "montserrat light", "verdana", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
  }

  .screenshot,
  .advertising,
  .wrap-video {
    display: none;
  }

  .products-h2 {
    height: 28px;
    font-family: "raleway semibold", "open sans semibold", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
    display: block;
    margin: 0 auto;
    margin-bottom: 37px;
  }

  .products-p {
    width: 100%;
    font-family: "montserrat light", verdana, sans-serif;
    font-size: 21px;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.75;
    text-align: center;
    color: #8c8c8c;
  }

  .products-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
  }

  .products-list-block {
    width: 80%;
    margin: 0 0 17px 0;
  }

  .products-list-img {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #ccc;
  }

  .products-txt-wrp {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fbfaf8;
    padding: 13px 0 37px 30px;
    position: relative;
  }

  .products-txt-wrp::before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -20px;
    left: 19px;
  }

  .products-list-block-txt1 {
    height: 15px;
    display: block;
    font-family: "raleway medium", verdana medium, sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c7b299;
  }

  .products-list-block-txt2 {
    height: 14px;
    display: block;
    font-family: "montserrat light", verdana, sans-serif;
    font-size: 23px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #d1d1d1;
    padding-top: 20px;
  }

  .products-list-btn1 {
    left: 223px;
    top: -300px;
  }

  .products-list-btn2 {
    left: 402px;
    top: -300px;
  }

  .products-list-block:hover .products-list-btn1 {
    display: block;
    outline: none;
    transform: scale(3);
  }

  .products-list-block:hover .products-list-btn2 {
    display: block;
    outline: none;
    transform: scale(3);
  }

  .btn-load-more {
    width: 200px;
    height: 64px;
    margin: 26px 0 35px 369px;
    padding: 13px 22px 10px 22px;
    min-height: 32px;
    border: none;
    border-radius: 3px;
    border: solid 1px #ebebeb;
    font-family: "raleway extrabold", "open sans extrabold", sans-serif;
    font-size: 22px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-box-shadow: inset 0px -3px 0 0 #736357;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
  }

  .mobile-txt {
    margin: 49px 20px 0 33px;
  }

  .mobile-h2 {
    font-size: 40px;
  }

  .mobile-p {
    width: 570px;
    font-size: 18px;
  }

  .mobile-list {
    font-size: 18px;
  }

  .recent-posts-h2 {
    font-size: 40px;
  }

  .recent-posts-p {
    min-width: 994px;
    font-size: 21px;
  }

  .reset-post-wrp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .recent-posts-box {
    width: 600px;
    min-height: 422px;
    outline: solid 1px #f8f8f8;
    margin: 0 15px 15px 15px;
  }

  .recent-posts-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .calendar {
    position: absolute;
    margin: -334px 0 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .date {
    width: 29px;
    min-height: 17px;
    font-family: "montserrat light", verdana, sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 16px 35px 16px 20px;
    background-color: #363636;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .month {
    font-family: "roboto-regular", verdana, sans-serif;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 8px 30px 7px 31px;
    background-color: #252525;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .recent-pagination {
    position: absolute;
    width: 123px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: -24px 0 23px 246px;
  }

  .recent-pagination-img {
    display: block;
    width: 15px;
    height: 15px;
    opacity: 0.5;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid transparent;
  }

  .recent-posts-title {
    font-size: 30px;
  }

  .recent-posts-txt {
    font-size: 21px;
  }

  .recent-posts-a {
    font-size: 25px;
  }

  .recent-posts-a::after {
    content: "";
    display: block;
    position: absolute;
    display: block;
    float: left;
    border: 10px solid transparent;
    border-left: 14px solid #c7b299;
    margin: -26px 0 0 150px;
  }

  .recent-posts-box:hover .recent-posts-a::after {
    content: "";
    display: block;
    position: absolute;
    display: block;
    float: left;
    border: 10px solid transparent;
    border-left: 14px solid #c7b299;
    margin: -26px 0 0 150px;
  }

  .recent-posts-btn {
    fill: #d1d1d1;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    transform: scale(3);
    margin: 0 80px 0 80px;
  }

  .products-btn-item {
    font-size: 25px;
  }

  .options-block1 {
    width: 500px;
    padding: 5px 10px 10px 10px;
  }

  .options-block {
    width: 500px;
    padding: 15px 10px 0 10px;
  }

  .options-block-h2 {
    font-size: 30px;
  }

  .options-block-txt {
    font-size: 21px;
    line-height: 33px;
  }
  .options-block1:after {
    width: 100px;
    height: 8px;
  }

  .options-block:after {
    width: 100px;
    height: 8px;
  }
  .footer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about {
    width: 500px;
    display: block;
    margin: 0 20px 0 20px;
  }
  .footer-txt {
    width: 190%;
    font-size: 20px;
    display: block;
  }

  .about-link {
    margin: 18px 0 40px 0;
    font-size: 16px;
  }

  .about-link:after {
    content: " border-left: 8px solid #00bff3";
    transition: 500ms;
    display: block;
    position: absolute;
    display: block;
    float: left;
    border: 6px solid transparent;
    border-left: 11px solid #00bff3;
    margin: -17px 0 0 100px;
    display: none;
  }

  .footer-h2 {
    font-size: 30px;
  }

  .footer-recent-posts,
  .twitter {
    display: none;
  }

  .widget-h2 {
    font-size: 35px;
  }
  .widget {
    width: 100%;
  }

  .footer2 {
    height: 150px;
    background-color: #111111;
    color: #555555;
    font-family: "montserrat light", verdana, sans-serif;
    font-size: 19px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.54;
    letter-spacing: normal;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .policy::after {
    content: " ";
    background: #555555;
    width: 1px;
    height: 20px;
    float: right;
    margin: 13px 10px 0 10px;
  }

  .copy::after {
    height: 20px;
    float: right;
    margin: 13px 10px 0 10px;
  }

  .faq::after {
    height: 20px;
    float: right;
    margin: 13px 10px 0 10px;
  }

  .designed::after {
    height: 20px;
    float: right;
    margin: 13px 10px 0 10px;
  }
}
