@media screen and (max-width: 420px) {
  .container {
    width: 1024px;
    margin: 150px 0 0 0;
  }

  .menu-link {
    font-size: 43px;
    padding-bottom: 18px;
  }

  .options-svg {
    display: block;
    fill: #555555;
    margin: 13px 0 20px 0;
    transform: scale(1.5);
  }

  .options-block-h2 {
    font-size: 34px;
  }

  .options-block-txt {
    font-size: 26px;
    line-height: 39px;
  }

  .products-h2 {
    font-size: 55px;
    margin-bottom: 56px;
  }

  .products-p {
    width: 100%;
    font-size: 26px;
  }

  .products-btn-item {
    font-size: 40px;
    padding: 22px 22px 18px 22px;
    margin: 0 15px 15px 15px;
  }

  .products {
    padding: 40px 50px 0 50px;
  }

  .products-btn {
    margin: 34px 0 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
  }

  .products-list-block {
    width: 90%;
    margin: 0 0 29px 0;
  }

  .products-list-btn1 {
    left: 250px;
    top: -340px;
  }

  svg.products-btn-link {
    transform: scale(1.5);
  }

  .products-list-btn2 {
    left: 453px;
    top: -340px;
  }

  svg.products-btn-search {
    transform: scale(1.5);
  }

  .products-txt-wrp {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fbfaf8;
    padding: 32px 0 55px 30px;
    position: relative;
  }

  .products-txt-wrp::before {
    content: "";
    border: 38px solid transparent;
    border-bottom: 40px solid #fbfaf8;
    position: absolute;
    top: -75px;
    left: 22px;
  }

  .products-list-block-txt1 {
    height: 48px;
    display: block;
    font-family: "raleway medium", verdana medium, sans-serif;
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c7b299;
  }

  .products-list-block-txt2 {
    height: 27px;
    display: block;
    font-family: "montserrat light", verdana, sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #d1d1d1;
    padding-top: 20px;
  }

  .btn-load-more {
    width: 300px;
    height: 99px;
    margin: 26px 0 35px 330px;
    padding: 13px 22px 10px 22px;
    min-height: 32px;
    border: none;
    border-radius: 3px;
    border: solid 1px #ebebeb;
    font-family: "raleway extrabold", "open sans extrabold", sans-serif;
    font-size: 36px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-box-shadow: inset 0px -3px 0 0 #736357;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
  }
  .mobile {
    width: 1024px;
    min-height: 727px;
    position: relative;
  }

  .mobile-img {
    position: absolute;
    margin-left: 100px;
    margin-top: 369px;
    width: 244px;
    height: 335px;
  }

  .mobile-h2 {
    font-size: 55px;
    width: 90%;
    margin: 0 0 0 110px;
  }

  .mobile-p {
    width: 90%;
    font-size: 24px;
    padding-top: 27px;
    margin: 0 auto;
  }

  .mobile-list {
    font-size: 24px;
    margin-left: 396px;
    margin-top: 27px;
  }

  .mobile-list-item:before {
    content: "";
    display: block;
    width: 30px;
    min-height: 30px;
    position: absolute;
    top: 7px;
    left: -29px;
    background-image: url(../img/list-marker.svg);
    background-size: cover;
  }

  .progress {
    display: none;
  }

  .recent-posts-h2 {
    font-size: 55px;
  }

  .recent-posts-p {
    min-width: 90%;
    margin-top: 59px;
    font-size: 24px;
  }

  .recent-posts-box {
    width: 80%;
    min-height: 422px;
    outline: solid 1px #f8f8f8;
    margin: 0 15px 55px 15px;
  }

  .recent-pagination {
    position: absolute;
    width: 123px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: -24px 0 23px 353px;
  }

  .calendar {
    position: absolute;
    margin: -450px 0 0 37px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .date {
    width: 29px;
    min-height: 17px;
    font-family: "montserrat light", verdana, sans-serif;
    font-size: 57px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 16px 61px 16px 24px;
    background-color: #363636;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .month {
    font-family: "roboto-regular", verdana, sans-serif;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 10px 44px 12px 47px;
    background-color: #252525;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .recent-posts-title {
    font-size: 50px;
  }

  .recent-posts-txt {
    font-size: 35px;
  }

  .box-btn {
    display: flex;
    justify-content: center;
    margin: -22px 0 85px 0;
  }

  .footer1 {
    display: none;
  }

  .footer2 {
    height: 150px;
    background-color: #111111;
    color: #555555;
    font-family: "montserrat light", verdana, sans-serif;
    font-size: 29px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.54;
    letter-spacing: normal;
    padding: 14px 20px 14px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .policy::after {
    content: " ";
    background: #555555;
    width: 1px;
    height: 33px;
    float: right;
    margin: 23px 20px 0 20px;
  }

  .copy::after {
    height: 33px;
    float: right;
    margin: 23px 20px 0 20px;
  }

  .faq::after {
    height: 33px;
    float: right;
    margin: 23px 20px 0 20px;
  }

  .designed::after {
    height: 33px;
    float: right;
    margin: 23px 20px 0 20px;
  }
}
