@media screen and (max-width: 768px) {
  .container {
    width: 1024px;
    margin: 150px 0 0 0;
  }

  .header-block {
    position: fixed;
    padding: 40px;
    background-image: url(../img/header.jpg);
    background-size: cover;
    z-index: 999;
    margin: -150px 0 0 0;
  }

  .logo {
    transform: scale(1.5);
  }

  .logo-txt {
    font-family: "raleway", "open sans", sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    margin-left: 15px;
    padding: 0 0 0 0;
  }

  .header-carousel {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 999;
  }

  .mobile-menu-btn {
    position: relative;
    top: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s;
    z-index: 999;
  }

  .mobile-menu-icon {
    display: block;
    position: relative;
    background: white;
    width: 90%;
    height: 4px;
    transition: 0.4s;
  }

  .mobile-menu-icon::after,
  .mobile-menu-icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 4px;
    transition: 0.4s;
  }

  .mobile-menu-icon::after {
    top: 14px;
  }

  .mobile-menu-icon::before {
    top: -14px;
  }

  .mobile-menu-container {
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 998;
    height: 0;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
    overflow: hidden;
    background-color: #4d4c48;
  }

  .menu-ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 0.5s;
    transition-delay: 0.5s;
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
  }

  .menu-ul-li {
    font-size: 26px;
    padding-bottom: 15px;
  }

  .menu-link {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
  }

  .mobile-menu-checkbox {
    display: none;
  }

  .mobile-menu-checkbox:checked ~ .mobile-menu-nav {
    opacity: 1;
    transition-delay: 0s;
  }

  .mobile-menu-checkbox:checked ~ .mobile-menu-container {
    height: 100%;
    transition-delay: 0s;
    top: 0;
  }

  .mobile-menu-checkbox:checked ~ .mobile-menu-btn .mobile-menu-icon {
    background: transparent;
  }

  .mobile-menu-checkbox:checked ~ .mobile-menu-btn .mobile-menu-icon::before,
  .mobile-menu-checkbox:checked ~ .mobile-menu-btn .mobile-menu-icon::after {
    top: 0;
  }

  .mobile-menu-checkbox:checked ~ .mobile-menu-btn .mobile-menu-icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .mobile-menu-checkbox:checked ~ .mobile-menu-btn .mobile-menu-icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .button-cart {
    background: transparent;
    display: block;
    outline: none;
    border: none;
    padding: 0;
    min-height: 60px;
    margin-left: -50px;
  }
  .button-cart:active {
    fill: #c7b299;
  }

  .search-form {
    position: relative;
    width: 24px;
    min-height: 24px;
    margin: -43px 0 0 139px;
  }

  .search-form-img {
    width: 24px;
    height: 24px;
  }

  .search-form-input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    left: -119px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
  }

  .search-form-input:focus {
    width: 250px;
    min-height: 25px;
    left: -166px;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    border: 1.5px solid #fff;
  }
  .pagination {
    display: none;
  }

  .options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .options-block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 400px;
    padding: 10px 10px 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .options-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 400px;
    padding: 10px 10px 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .options-block:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
  }
  .options-block1:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
  }

  .options-block:hover .options-svg {
    fill: #c7b299;
  }
  .options-block1:hover .options-svg {
    fill: #c7b299;
  }

  .options-block:hover .options-block-h2 {
    color: #c7b299;
  }
  .options-block1:hover .options-block-h2 {
    color: #c7b299;
  }

  .options-block:hover:after {
    background-color: #c7b299;
  }
  .options-block1:hover:after {
    background-color: #c7b299;
  }

  .options-svg {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0;
  }

  .options-block-h2 {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
    font-family: "raleway semibold", "open sans semibold", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #555555;
  }

  .options-block-txt {
    font-family: "montserrat light", "verdana", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
  }

  .screenshot,
  .advertising {
    display: none;
  }
}
