@media screen and (max-width: 768px) {
    .clearfix {
      overflow: auto;
    }
    a {
      text-decoration: none;
    }
    svg {
      fill: #fff;
    }
    svg:hover {
      fill: #c7b299;
    }
    svg:active {
      fill: #d3c1ad;
    }
  
    body {
      width: 1024px;
      font-size: 14px;
      margin: 0 auto;
      overflow: hidden;
    }
  
    .container {
      width: 1024px;
    }
  
    a:hover {
      color: #c7b299;
    }
    a:active {
      color: #d3c1ad;
    }
  
    .header-block {
      padding: 40px;
      background-image: url(../img/header.jpg);
      background-size: cover;
    }
  
    .header-top {
      width: 980px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 0 auto;
    }
    nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 0 auto;
    }
    .logo-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  
    .logo {
      fill: white;
      top: 40px;
      width: 64px;
      min-height: 56px;
      z-index: 446;
      float: left;
    }
  
    .logo:hover {
      fill: #c7b299;
    }
  
    .logo-txt {
      font-family: "raleway", "open sans", sans-serif;
      font-size: 34px;
      font-weight: 400;
      color: #ffffff;
      display: block;
      padding: 10px 0 0 0;
    }
  
    .logo-txt:hover {
      color: #c7b299;
    }
  
    .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 auto;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  
    .menu-ul {
      list-style: none;
      margin: 0 auto;
      padding-left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  
    .menu-link {
      text-decoration: none;
      color: #ffffff;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      padding-left: 18px;
      display: block;
      width: 100%;
      text-align: center;
    }
  
    .button-cart {
      background: transparent;
      display: block;
      outline: none;
      border: none;
      padding: 0;
      min-height: 24px;
      margin-left: 45px;
    }
    .button-cart:active {
      fill: #c7b299;
    }
  
    .search-form {
      width: 24px;
      min-height: 24px;
      margin: 15px 0 0 28px;
      position: relative;
    }
  
    .search-form-img {
      width: 24px;
      height: 24px;
    }
  
    .search-form-input {
      width: 0;
      min-height: 0;
      padding: 5px;
      outline: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: transparent;
      border: none;
      position: absolute;
      top: 40px;
      left: -119px;
      color: #fff;
      font-size: 16px;
      font-family: Arial;
      text-transform: capitalize;
    }
  
    .search-form-input:focus {
      width: 150px;
      min-height: 20px;
      -webkit-transition: width 0.3s ease;
      -o-transition: width 0.3s ease;
      transition: width 0.3s ease;
      border: 1.5px solid #998675;
    }
  
    .header-carousel {
      margin: 150px 50px 0 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  
    .carousel-lr {
      width: 40px;
      min-height: 73px;
      fill: #d3c1ad;
      margin: 110px 0 0 0;
    }
  
    .carousel-lr:hover,
    .carousel-lr:active {
      fill: #f1eee9;
    }
  
    .carousel-txt {
      width: 589px;
      min-height: 100%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-item-align: center;
      align-self: center;
    }
  
    .carousel-h2 {
      font-family: "raleway medium", "open sans", sans-serif;
      font-size: 36px;
      line-height: 1.2;
      font-weight: 500;
      font-style: normal;
      text-align: center;
      color: #fff;
      margin: 0 0 19px 0;
    }
    .carousel-h1 {
      font-family: "raleway extrabold", "open sans extrabold", sans-serif;
      font-size: 52px;
      line-height: 1.2;
      font-weight: 800;
      color: #ffffff;
      margin: 0 auto;
      text-align: center;
    }
  
    .carousel-txt-p {
      font-family: "montserrat light", "verdana", sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      color: #ffffff;
      text-align: center;
      margin-top: 14px;
      margin-bottom: 50px;
      display: block;
      width: 100%;
    }
  
    .carousel-btn-txt {
      display: block;
      text-decoration: none;
      width: 170px;
      min-height: 53px;
      font-family: "raleway extrabold", "open sans extrabold", sans-serif;
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
      color: #ffffff;
      -webkit-box-shadow: inset 0px -3px 0 0 #736357;
      box-shadow: inset 0px -3px 0 0 #736357;
      background-color: #998675;
      border-radius: 3px;
      margin: 0 auto;
      text-align: center;
      line-height: 53px;
    }
  
    .carousel-btn-txt:hover {
      background-color: #c7b299;
      color: #ffffff;
    }
  
    .carousel-btn-txt:active {
      background-color: #998675;
      color: #fff;
    }
  
    .pagination {
      width: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 61px 0 0 419px;
    }
  
    .pagination-img {
      display: block;
      width: 11px;
      height: 11px;
      opacity: 0.5;
      background-color: #ffffff;
      border-radius: 50%;
      border: 1px solid transparent;
    }
  
    .pagination-img:hover {
      background-color: transparent;
      border: 1px solid #d3c1ad;
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
    }
  
    .options {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  
    .options-block1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 300px;
      padding: 10px 10px 0 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  
    .options-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 300px;
      padding: 10px 10px 0 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  
    .options-block:after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      background-color: #f1eee9;
    }
    .options-block1:after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      background-color: #f1eee9;
    }
  
    .options-block:hover .options-svg {
      fill: #c7b299;
    }
    .options-block1:hover .options-svg {
      fill: #c7b299;
    }
  
    .options-block:hover .options-block-h2 {
      color: #c7b299;
    }
    .options-block1:hover .options-block-h2 {
      color: #c7b299;
    }
  
    .options-block:hover:after {
      background-color: #c7b299;
    }
    .options-block1:hover:after {
      background-color: #c7b299;
    }
  
    .options-svg {
      display: block;
      fill: #555555;
      margin: 0 0 20px 0;
    }
  
    .options-block-h2 {
      width: 100%;
      margin: 0 0 10px 0;
      text-align: center;
      font-family: "raleway semibold", "open sans semibold", sans-serif;
      font-size: 22px;
      font-weight: 600;
      color: #555555;
    }
  
    .options-block-txt {
      font-family: "montserrat light", "verdana", sans-serif;
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      text-align: center;
    }
  
    .screenshot {
      margin: 0 auto;
      width: 1024px;
      min-height: 575px;
      background-color: #fbfaf8;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  
    .screenshot-h2 {
      font-family: "raleway semibold", "open sans semibold", sans-serif;
      font-size: 30px;
      font-weight: 600;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #555555;
      margin-top: 40px;
    }
  
    .screenshot-txt {
      width: 760px;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: center;
      color: #8c8c8c;
      margin: 20px 0 0 0;
    }
  
    .screenshot-image {
      width: 1020px;
      height: 400px;  
      padding: 0 0 0 0;
      margin: 25px 0 0 0;
    }
  
    /*
    .screenshot-img {
      position: relative;
      width: 1230px;
    }
    
    .img-left {
      position: absolute;
      margin: 122px 0 0 0;
    }
    
    .img-center {
      position: absolute;
      margin: 40px 0 0 230px;
    }
    
    .img-right {
      position: absolute;
      margin: 122px 0 0 460px;
    }
    */
  
    .advertising {
      width: 100%;
      min-height: 150px;
      background-image: linear-gradient(to top, #211b19, #4e3427);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }
  
    .advertising-text {
      font-family: "raleway regular", "open sans regular", sans-serif;
      font-size: 28px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      margin-left: 50px;
      margin-top: 20px;
    }
  
    .advertising-a {
      font-family: "raleway extrabold", "open sans extrabold", sans-serif;
      font-size: 14px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.64;
      letter-spacing: normal;
      -moz-appearance: button;
      -webkit-appearance: button;
      padding: 0.2em 0.75em;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      border-radius: 3px;
      box-shadow: inset 0px -3px 0 0 #736357;
      background-color: #998675;
      padding: 18px 28px 18px 28px;
      margin-right: 50px;
    }
    .advertising-a:hover {
      box-shadow: inset 0px -3px 0 0 #998675;
      background-color: #736357;
      color: #fff;
    }
  
    .advertising-a:active {
      background-color: #998675;
      color: #fff;
    }
  
    .advertising-logo-txt {
      width: 530px;
      height: 27px;
      font-family: "raleway regular", "open sans regular", sans-serif;
      font-size: 28px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #c7b299;
    }
  
    .advertising-logo-txt:hover {
      color: #fff;
    }
  
    .advertising-p {
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #615855;
      margin: 8px;
    }
    .advertising-p:hover {
      color: #c7b299;
    }
  
    .products {
      padding: 40px 60px 0 60px;
    }
  
    .products-h2 {
      height: 28px;
      font-family: "raleway semibold", "open sans semibold", sans-serif;
      font-size: 30px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #555555;
      display: block;
      margin: 0 auto;
      margin-bottom: 23px;
    }
  
    .products-p {
      width: 719px;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 16px;
      margin: 0 auto;
      font-weight: 300;
      line-height: 1.75;
      text-align: center;
      color: #8c8c8c;
    }
    .products-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 30px 0 30px 0;
    }
  
    .products-btn-item {
      margin: 0 5px 0 5px;
      padding: 13px 22px 10px 22px;
      min-height: 32px;
      border: none;
      border-radius: 3px;
      border: solid 1px #ebebeb;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #8c8c8c;
    }
  
    .products-btn-item:hover {
      background-color: #c7b299;
      color: #fff;
    }
    .products-btn-item:active {
      background-color: #998675;
      color: #fff;
    }
  
    .products-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .products-list-block {
      width: 370px;
      min-height: 237px;
      margin: 0 15px 30px 15px;
    }
  
    .products-list-img {
      width: 370px;
      display: block;
      background-color: #ccc;
    }
  
    .products-list-block:hover .products-list-img {
      -webkit-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
      -webkit-filter: brightness(60%);
      filter: brightness(60%);
    }
  
    .products-txt-wrp {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #fbfaf8;
      padding: 30px 0 27px 30px;
      position: relative;
    }
  
    .products-list-block:hover .products-txt-wrp {
      -webkit-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
      background-color: #362f2d;
    }
  
    .products-txt-wrp::before {
      content: "";
      border: 10px solid transparent;
      border-bottom: 10px solid #fbfaf8;
      position: absolute;
      top: -20px;
      left: 19px;
    }
  
    .products-list-block:hover .products-txt-wrp::before {
      -webkit-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
      border-bottom: 10px solid #362f2d;
    }
  
    .products-list-block-txt1 {
      height: 15px;
      display: block;
      font-family: "raleway medium", verdana medium, sans-serif;
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #c7b299;
    }
    .products-list-block:hover .products-list-block-txt1 {
      -webkit-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
      color: #ffffff;
    }
  
    .products-list-block-txt2 {
      height: 14px;
      display: block;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      color: #d1d1d1;
      padding-top: 14px;
    }
  
    .products-list-block:hover .products-list-block-txt1 {
      -webkit-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
      color: #c7b299;
    }
  
    .products-list-btn1 {
      border: none;
      background: none;
      position: absolute;
      top: -174px;
      left: 144px;
      display: none;
    }
  
    .products-list-btn2 {
      border: none;
      background: none;
      position: absolute;
      top: -173px;
      left: 198px;
      display: none;
    }
  
    .products-list-block:hover .products-list-btn1 {
      display: block;
      outline: none;
    }
    .products-list-block:hover .products-list-btn2 {
      display: block;
      outline: none;
    }
  
    .btn-load-more-wrp {
      display: block;
      margin: 0 auto;
    }
  
    .btn-load-more {
      width: 170px;
      height: 50px;
      margin: 10px 0 35px 369px;
      padding: 13px 22px 10px 22px;
      min-height: 32px;
      border: none;
      border-radius: 3px;
      border: solid 1px #ebebeb;
      font-family: "raleway extrabold", "open sans extrabold", sans-serif;
      font-size: 14px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.64;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      -webkit-box-shadow: inset 0px -3px 0 0 #736357;
      box-shadow: inset 0px -3px 0 0 #736357;
      background-color: #998675;
    }
  
    .btn-load-more:hover {
      background-color: #d3c1ad;
      color: #fff;
    }
    .btn-load-more:active {
      background-color: #998675;
      color: #fff;
    }
  
    .wrap-video {
      position: relative;
      min-height: 10px;
    }
    .video {
      outline: none;
      width: 1024px;
      height: 376px;
    }
  
    .video:active .presentation {
      display: none;
    }
  
    /* убирает контроллеры у видео*/
    .video::-webkit-media-controls {
      display: none !important;
    }
  
    .presentation {
      position: absolute;
      width: 560px;
      min-height: 390px;
      top: 80px;
      left: 250px;
    }
  
    .play-svg {
      fill: white;
      margin: 15px;
    }
    .play-blok:hover .play-svg {
      -webkit-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
      fill: #d3c1ad;
    }
  
    .play-blok:active .play-svg {
      -webkit-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
      fill: #ddcfc3;
    }
    .play-blok {
      width: 100px;
      height: 100px;
      background-color: #0000003d;
      margin: 0 auto;
      border-radius: 50%;
    }
  
    .play-blok:hover {
      -webkit-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
      background-color: #00000050;
    }
    .play-blok:active {
      -webkit-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
      background-color: #00000034;
    }
  
    .presentation-h2 {
      width: 383px;
      height: 23px;
      font-family: "raleway medium", "open sans", sans-serif;
      font-size: 30px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin-left: 90px;
    }
  
    .presentation-txt {
      width: 560px;
      height: 44px;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 16px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
  
    .presentation-time {
      width: 36px;
      height: 11px;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: center;
      color: #c7b299;
      margin-left: 265px;
    }
  
    .mobile {
      width: 1024px;
      min-height: 610px;
      background-color: #fbfaf8;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  
    .mobile-img {
      width: 323px;
      height: 470px;
    }
  
    .mobile-img {
      margin-left: 50px;
      margin-top: 50px;
    }
    .mobile-txt {
      margin: 70px 20px 0 33px;
    }
  
    .mobile-h2 {
      width: 408px;
      font-family: "raleway semibold", "open sans semibold", sans-serif;
      font-size: 30px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #555555;
    }
  
    .mobile-p {
      width: 470px;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 16px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      text-align: justify;
      line-height: 1.75;
      color: #8c8c8c;
      margin: 40px 0 40px 0;
    }
    .mobile-list {
      height: 112px;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 16px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      text-align: left;
      color: #8c8c8c;
      margin: 0 0 0 90px;
      padding: 0 0 0 0;
    }
  
    .mobile-list-item {
      list-style-type: none;
      position: relative;
      padding: 0 0 0 10px;
    }
    .mobile-list-item:before {
      content: "";
      display: block;
      width: 20px;
      min-height: 20px;
      position: absolute;
      top: 5px;
      left: -29px;
      background-image: url(../img/list-marker.svg);
      background-size: cover;
    }
  
    .progress {
      width: 1024px;
      min-height: 300px;
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#211b19),
        to(#4e3427)
      );
      background-image: -o-linear-gradient(bottom, #211b19, #4e3427);
      background-image: linear-gradient(to top, #211b19, #4e3427);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .progress-box {
      display: block;
      width: 140px;
      min-height: 300px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 30px 0 30px;
    }
  
    .progress-box:after {
      content: "";
      display: block;
      width: 30px;
      height: 2px;
      background-color: #ffffff;
      margin: 30px 0 0 55px;
    }
  
    .progress-svg {
      margin: 69px 0 0 46px;
      fill: rgb(199, 178, 153);
    }
  
    .progress-box:hover svg.progress-svg {
      transition: 500ms;
      fill: white;
    }
    .progress-point {
      display: block;
      height: 35px;
      font-family: "montserrat ultralight", verdana, sans-serif;
      font-size: 48px;
      font-weight: 200;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.75;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin: 30px 0 0 0;
    }
    .progress-box:hover .progress-point {
      transition: 500ms;
      color: rgb(199, 178, 153);
    }
  
    .progress-txt {
      height: 11px;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase;
      color: #c7b299;
      margin: 19px 0 0 0;
    }
  
    .progress-box:hover .progress-txt {
      transition: 500ms;
      color: #ffffff;
    }
  
    .recent-posts {
      position: relative;
      width: 100%;
      background-color: #ffffff;
      padding: 50px 0 0 0;
      margin: 0 auto;
    }
  
    .recent-posts-img {
      display: block;
    }
  
    .recent-posts-box:hover .recent-posts-img {
      transition: 500ms;
      filter: brightness(60%);
    }
  
    .recent-posts-h2 {
      height: 23px;
      font-family: "raleway semibold", "open sans semibold", sans-serif;
      font-size: 30px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      color: #555555;
      display: block;
      margin: 0 0 28px 0;
    }
  
    .recent-posts-p {
      width: 719px;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 16px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: center;
      color: #8c8c8c;
      padding: 0;
      display: block;
      margin: 0 auto;
    }
  
    .reset-post-wrp {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }
  
    .recent-posts-box {
      width: 370px;
      min-height: 395px;
      outline: solid 1px #f8f8f8;
      margin: 0 15px 0 15px;
    }
  
    .recent-posts-box:hover {
      transition: 500ms;
      background-color: #362f2d;
    }
  
    .calendar {
      position: absolute;
      margin: -200px 0 0 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }
  
    .date {
      width: 29px;
      min-height: 17px;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 24px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.83;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding: 9px 11px 9px 10px;
      background-color: #363636;
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
      -moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }
  
    .recent-posts-box:hover .date {
      transition: 500ms;
      background-color: #c7b299;
    }
  
    .month {
      width: 23px;
      min-height: 11px;
      font-family: "roboto-regular", verdana, sans-serif;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding: 7px 14px 7px 13px;
      background-color: #252525;
      -moz-border-radius-bottomright: 4px;
      -webkit-border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
      -webkit-border-bottom-left-radius: 4px;
      border-bottom-left-radius: 4px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
  
    .recent-posts-box:hover .month {
      transition: 500ms;
      background-color: #a48d72;
    }
  
    .recent-pagination {
      position: absolute;
      width: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: -24px 0 22px 134px;
    }
  
    .recent-pagination-img {
      display: block;
      width: 11px;
      height: 11px;
      opacity: 0.5;
      background-color: #ffffff;
      border-radius: 50%;
      border: 2px solid transparent;
    }
  
    .recent-pagination-img:hover {
      transition: 500ms;
      background-color: transparent;
      border: solid 2px #d3c1ad;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  
    .recent-posts-title {
      font-family: "raleway medium", "open sans", sans-serif;
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #555555;
      display: block;
      margin: 30px 0 0 29px;
    }
  
    .recent-posts-box:hover .recent-posts-title {
      transition: 500ms;
      color: #c7b299;
    }
  
    .recent-posts-txt {
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: left;
      color: #8c8c8c;
      margin: 19px 0 0 29px;
    }
  
    .recent-posts-box:hover .recent-posts-title {
      transition: 500ms;
      color: #fff;
    }
  
    .recent-posts-a {
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      display: block;
      margin: 27px 0 33px 29px;
    }
  
    .recent-posts-box:hover .recent-posts-a {
      transition: 500ms;
      color: #c7b299;
    }
  
    .recent-posts-box:hover .recent-posts-a:hover {
      transition: 500ms;
      color: #94826c;
    }
  
    .recent-posts-a::after {
      content: "";
      display: block;
      position: absolute;
      display: block;
      float: left;
      border: 5px solid transparent;
      border-left: 8px solid #c7b299;
      margin: -13px 0 0 84px;
    }
  
    .recent-posts-box:hover .recent-posts-a::after {
      transition: 500ms;
      border-left: 8px solid #c7b299;
    }
  
    .recent-posts-box:hover .recent-posts-a:hover::after {
      transition: 500ms;
      border-left: 8px solid #756755;
    }
  
    .box-btn {
      display: flex;
      justify-content: center;
      margin: 30px 0 50px 0;
    }
  
    .recent-posts-pagination {
      outline: none;
      border: 0;
      background: transparent;
    }
  
    .recent-posts-btn {
      fill: #d1d1d1;
      width: 22px;
      height: 22px;
      display: flex;
      justify-content: center;
    }
  
    .partners {
      background-image: url(../img/partners-bg.jpg);
      min-height: 350px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  
    .partners-img {
      transition: 1s; /* Время эффекта */
      display: block;
      margin: 20px;
    }
    .partners-img:hover {
      transform: scale(1.2); /* Увеличиваем масштаб */
    }
  
    .footer1 {
      background-color: #191919;
      padding: 40px 10px;
      display: flex;
      justify-content: center;
    }
  
    .footer-txt {
      width: 250px;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: justify;
      color: #555555;
      margin: 0;
    }
    .footer-txt2 {
      width: 250px;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: justify;
      color: #555555;
      margin: 0;
    }
  
    .footer-h2 {
      font-family: "raleway bold", open sans bold, sans-serif;
      font-size: 20px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      margin-bottom: 12px;
    }
  
    .footer-h2-twitter {
      font-family: "raleway bold", open sans bold, sans-serif;
      font-size: 20px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      display: block;
      margin-bottom: 30px;
    }
  
    .about {
      width: 250px;
      display: block;
      margin: 0px 15px 0 20px;
    }
  
    .logo-block-footer1 {
      margin-bottom: 29px;
    }
  
    .about-link {
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      color: #d1d1d1;
      display: block;
      margin-top: 33px;
    }
  
    .about-link:after {
      content: "  border-left: 8px solid #00bff3";
      transition: 500ms;
      display: block;
      position: absolute;
      display: block;
      float: left;
      border: 5px solid transparent;
      border-left: 8px solid #00bff3;
      margin: -13px 0 0 84px;
      display: none;
    }
  
    .about-link:hover::after {
      content: "";
      transition: 500ms;
      color: #00bff3;
      display: block;
    }
  
    .footer-recent-posts {
      min-width: 250px;
      margin: 28px 0 0 0;
      display: flex;
      flex-direction: column;
      margin: 0 15px 0 15px;
    }
  
    .posts-date {
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 12px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #363636;
    }
  
    .posts-date2 {
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 12px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #363636;
    }
  
    .recent-posts-link {
      width: 250px;
      display: block;
      text-decoration: none;
      margin-top: 18px;
      border-bottom: 1px solid #252525;
      padding-bottom: 20px;
    }
  
    .recent-posts-last {
      display: block;
      width: 266px;
      text-decoration: none;
      margin-top: 18px;
    }
  
    .recent-posts-last2 {
      display: block;
      width: 266px;
      text-decoration: none;
      margin-top: 18px;
    }
  
    .recent-posts-link:hover .posts-date {
      transition: 500ms;
      color: #ffffff;
    }
  
    .recent-posts-link:active .posts-date {
      transition: 500ms;
      color: #e2e2e2;
    }
  
    .recent-posts-last:hover .posts-date {
      transition: 500ms;
      color: #ffffff;
    }
  
    .recent-posts-last:active .posts-date {
      transition: 500ms;
      color: #e2e2e2;
    }
  
    .recent-posts-link:hover .posts-p1 {
      transition: 500ms;
      color: #c7b299;
    }
  
    .recent-posts-link:active .posts-p1 {
      transition: 500ms;
      color: #b19c84;
    }
  
    .recent-posts-link:hover .posts-p2 {
      transition: 500ms;
      color: #c7b299;
    }
  
    .recent-posts-link:active .posts-p2 {
      transition: 500ms;
      color: #b19c84;
    }
    .recent-posts-last:hover .posts-p3 {
      transition: 500ms;
      color: #c7b299;
    }
  
    .recent-posts-last:active .posts-p3 {
      transition: 500ms;
      color: #b19c84;
    }
  
    .twitter {
      width: 270px;
      margin: 0 0 0 15px;
    }
  
    .twet-api {
      color: #00bff3;
    }
  
    .twet-api:hover {
      transition: 500ms;
      color: #0591b8;
    }
  
    .twet-api:active {
      transition: 500ms;
      color: #00bff3;
    }
  
    .twet-link {
      color: #959595;
    }
  
    .twet-link:hover {
      transition: 500ms;
      color: #bbbaba;
    }
  
    .twet-link:active {
      transition: 500ms;
      color: #959595;
    }
  
    .widget {
      width: 280px;
      display: block;
      margin: 0 10px;
    }
  
    .widget-h2 {
      font-family: "raleway bold", open sans bold, sans-serif;
      font-size: 20px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      display: block;
      margin-bottom: 10px;
    }
  
    .widget-img {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  
    .widget-img-all {
      transition: 500ms; /* Время эффекта */
      display: block;
      margin: 5px;
      width: 100px;
      height: 75px;
    }
  
    .widget-img-all:hover {
      transform: scale(1.2); /* Увеличиваем масштаб */
    }
  
    .footer2 {
      height: 110px;
      background-color: #111111;
      color: #555555;
      font-family: "montserrat light", verdana, sans-serif;
      font-size: 13px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.54;
      letter-spacing: normal;
      padding: 0 20px 0 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }
  
    a.footer2-link {
      text-decoration: none;
      color: #959595;
    }
  
    a.footer2-link:hover {
      transition: 500ms;
      color: #c7b299;
    }
  
    a.footer2-link:hover {
      transition: 500ms;
      color: #a5927a;
    }
  
    .copyright-left {
      display: flex;
    }
  
    .copy {
      display: block;
    }
  
    .copy::after {
      content: " ";
      background: #555555;
      width: 1px;
      height: 13px;
      float: right;
      margin: 3px 10px 0 10px;
    }
  
    a.policy {
      display: block;
      color: #555555;
    }
  
    .policy::after {
      content: " ";
      background: #555555;
      width: 1px;
      height: 13px;
      float: right;
      margin: 3px 10px 0 10px;
    }
  
    .faq {
      display: block;
    }
  
    .faq::after {
      content: " ";
      background: #555555;
      width: 1px;
      height: 13px;
      float: right;
      margin: 3px 10px 0 10px;
    }
  
    a.support {
      display: block;
      color: #555555;
    }
  
    .copyright-right {
      display: flex;
    }
  
    .designed {
      display: block;
    }
  
    .designed::after {
      content: " ";
      background: #555555;
      width: 1px;
      height: 13px;
      float: right;
      margin: 3px 10px 0 10px;
    }
  }
  