/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "fontawesome-webfont";
  src: url("../fonts/fontawesome/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/fontawesome/fontawesome-webfont.woff2") format("woff2"),
    url("../fonts/fontawesome/fontawesome-webfont.woff") format("woff"),
    url("../fonts/fontawesome/fontawesome-webfont.ttf") format("ttf");
  /*font-weight: 400;
  font-style: normal;*/
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/regular/montserrat-regular.eot");
  src: url("../fonts/montserrat/regular/montserrat-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat/regular/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat/regular/montserrat-regular.woff") format("woff"),
    url("../fonts/montserrat/regular/montserrat-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/light/montserrat-light.eot");
  src: url("../fonts/montserrat/light/montserrat-light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat/light/montserrat-light.woff2") format("woff2"),
    url("../fonts/montserrat/light/montserrat-light.woff") format("woff"),
    url("../fonts/montserrat/light/montserrat-light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/ultralight/montserrat-ultralight.eot");
  src: url("../fonts/montserrat/ultralight/montserrat-ultralight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat/ultralight/montserrat-ultralight.woff2")
      format("woff2"),
    url("../fonts/montserrat/ultralight/montserrat-ultralight.woff")
      format("woff"),
    url("../fonts/montserrat/ultralight/montserrat-ultralight.ttf")
      format("ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/regular/roboto-regular.eot");
  src: url("../fonts/roboto/regular/roboto-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto/regular/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto/regular/roboto-regular.woff") format("woff"),
    url("../fonts/roboto/regular/roboto-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/bold/raleway-bold.eot");
  src: url("../fonts/raleway/bold/raleway-bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/bold/raleway-bold.woff2") format("woff2"),
    url("../fonts/raleway/bold/raleway-bold.woff") format("woff"),
    url("../fonts/raleway/bold/raleway-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/extrabold/raleway-extrabold.eot");
  src: url("../fonts/raleway/extrabold/raleway-extrabold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/extrabold/raleway-extrabold.woff2") format("woff2"),
    url("../fonts/raleway/extrabold/raleway-extrabold.woff") format("woff"),
    url("../fonts/raleway/extrabold/raleway-extrabold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/medium/raleway-medium.eot");
  src: url("../fonts/raleway/medium/raleway-medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/medium/raleway-medium.woff2") format("woff2"),
    url("../fonts/raleway/medium/raleway-medium.woff") format("woff"),
    url("../fonts/raleway/medium/raleway-medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/regular/raleway-regular.eot");
  src: url("../fonts/raleway/regular/raleway-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/regular/raleway-regular.woff2") format("woff2"),
    url("../fonts/raleway/regular/raleway-regular.woff") format("woff"),
    url("../fonts/raleway/regular/raleway-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/semibold/raleway-semiBold.eot");
  src: url("../fonts/raleway/semibold/raleway-semiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/semibold/raleway-semiBold.woff2") format("woff2"),
    url("../fonts/raleway/semibold/raleway-semiBold.woff") format("woff"),
    url("../fonts/raleway/semibold/raleway-semiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

.clearfix {
  overflow: auto;
}
a {
  text-decoration: none;
}
svg {
  fill: #fff;
}
svg:hover {
  fill: #c7b299;
}
svg:active {
  fill: #d3c1ad;
}

body {
  width: 1920px;
  font-size: 14px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  width: 1920px;
}

a:hover {
  color: #c7b299;
}
a:active {
  color: #d3c1ad;
}

.header-block {
  padding: 40px;
  background-image: url(../img/header.jpg);
  background-size: cover;
}

.header-top {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 0 160px;
}
.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  fill: white;
  top: 40px;
  width: 64px;
  min-height: 56px;
  z-index: 446;
  float: left;
}

.logo:hover {
  fill: #c7b299;
}

.logo-txt {
  font-family: "raleway", "open sans", sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #ffffff;
  display: block;
  padding: 10px 0 0 0;
}

.logo-txt:hover {
  color: #c7b299;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.menu-ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding-left: 30px;
  display: block;
  width: 100%;
  text-align: center;
}

.button-cart {
  background: transparent;
  display: block;
  outline: none;
  border: none;
  padding: 0;
  min-height: 24px;
  margin-left: 65px;
}
.button-cart:active {
  fill: #c7b299;
}

.search-form {
  width: 24px;
  min-height: 24px;
  margin: 15px 0 0 28px;
  position: relative;
}

.search-form-img {
  width: 24px;
  height: 24px;
}

.search-form-input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40px;
  left: -119px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}

.search-form-input:focus {
  width: 150px;
  min-height: 20px;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
  border: 1.5px solid #998675;
}

.header-carousel {
  margin: 277px 150px 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.carousel-lr {
  width: 40px;
  min-height: 73px;
  fill: #d3c1ad;
  margin: 110px 0 0 0;
}

.carousel-lr:hover,
.carousel-lr:active {
  fill: #f1eee9;
}

.carousel-txt {
  width: 589px;
  min-height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  align-self: center;
}

.carousel-h2 {
  font-family: "raleway medium", "open sans", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  margin: 0 auto;
}
.carousel-h1 {
  font-family: "raleway extrabold", "open sans extrabold", sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

.carousel-txt-p {
  font-family: "montserrat light", "verdana", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 50px;
}

.carousel-btn-txt {
  display: block;
  text-decoration: none;
  width: 170px;
  min-height: 53px;
  font-family: "raleway extrabold", "open sans extrabold", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
  box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
  border-radius: 3px;
  margin: 0 auto;
  text-align: center;
  line-height: 53px;
}

.carousel-btn-txt:hover {
  background-color: #c7b299;
  color: #ffffff;
}

.carousel-btn-txt:active {
  background-color: #998675;
  color: #fff;
}

.pagination {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 324px 0 0 872px;
}

.pagination-img {
  display: block;
  width: 11px;
  height: 11px;
  opacity: 0.5;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid transparent;
}

.pagination-img:hover {
  background-color: transparent;
  border: 1px solid #d3c1ad;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.options-block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.options-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.options-block:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}
.options-block1:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.options-block:hover .options-svg {
  fill: #c7b299;
}
.options-block1:hover .options-svg {
  fill: #c7b299;
}

.options-block:hover .options-block-h2 {
  color: #c7b299;
}
.options-block1:hover .options-block-h2 {
  color: #c7b299;
}

.options-block:hover:after {
  background-color: #c7b299;
}
.options-block1:hover:after {
  background-color: #c7b299;
}

.options-svg {
  display: block;
  fill: #555555;
  margin: 0 0 20px 0;
}

.options-block-h2 {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "raleway semibold", "open sans semibold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #555555;
}

.options-block-txt {
  font-family: "montserrat light", "verdana", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.screenshot {
  margin: 0 auto;
  width: 1920px;
  height: 700px;
  background-color: #fbfaf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.screenshot-h2 {
  width: 500px;
  height: 30px;
  font-family: "raleway semibold", "open sans semibold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
  margin-top: 84px;
}

.screenshot-txt {
  width: 719px;
  height: 44px;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
  margin: 20px 0 0 0;
}

.screenshot-img {
  position: relative;
  width: 1230px;
}

.img-left {
  position: absolute;
  margin: 122px 0 0 0;
}

.img-center {
  position: absolute;
  margin: 40px 0 0 230px;
}

.img-right {
  position: absolute;
  margin: 122px 0 0 460px;
}

.advertising {
  min-height: 150px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#211b19),
    to(#4e3427)
  );
  background-image: -o-linear-gradient(bottom, #211b19, #4e3427);
  background-image: linear-gradient(to top, #211b19, #4e3427);
  padding: 0 374px 0 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advertising-text {
  float: left;
  margin-right: 373px;
}

.advertising-btn {
  float: left;
  margin: 50px 0 0 0;
}

.btn-txt {
  display: block;
  text-decoration: none;
  width: 170px;
  min-height: 50px;
  font-family: "raleway extrabold", "open sans extrabold", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
  box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
  border-radius: 3px;
  margin: 0 0 0 0;
  text-align: center;
  line-height: 53px;
}
.btn-txt:hover {
  background-color: #c7b299;
  color: #ffffff;
}

.btn-txt:hover:active {
  background-color: #998675;
  color: #fff;
}

.advertising-txt {
  width: 530px;
  height: 27px;
  font-family: "raleway regular", "open sans regular", sans-serif;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.advertising-logo-txt {
  width: 530px;
  height: 27px;
  font-family: "raleway regular", "open sans regular", sans-serif;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #c7b299;
}

.advertising-logo-txt:hover {
  color: #fff;
}

.advertising-p {
  width: 463px;
  height: 18px;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #615855;
  margin: 8px;
}
.advertising-p:hover {
  color: #c7b299;
}

.products {
  padding: 80px 360px 0 360px;
}

.products-h2 {
  height: 28px;
  font-family: "raleway semibold", "open sans semibold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
  display: block;
  margin: 0 auto;
  margin-bottom: 23px;
}

.products-p {
  width: 719px;
  height: 44px;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
.products-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}

.products-btn-item {
  margin: 0 5px 0 5px;
  padding: 13px 22px 10px 22px;
  min-height: 32px;
  border: none;
  border-radius: 3px;
  border: solid 1px #ebebeb;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
}

.products-btn-item:hover {
  background-color: #c7b299;
  color: #fff;
}
.products-btn-item:active {
  background-color: #998675;
  color: #fff;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.products-list-block {
  width: 370px;
  min-height: 237px;
  margin: 0 15px 30px 15px;
}

.products-list-img {
  width: 370px;
  display: block;
  background-color: #ccc;
}

.products-list-block:hover .products-list-img {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

.products-txt-wrp {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fbfaf8;
  padding: 30px 0 27px 30px;
  position: relative;
}

.products-list-block:hover .products-txt-wrp {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  background-color: #362f2d;
}

.products-txt-wrp::before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -20px;
  left: 19px;
}

.products-list-block:hover .products-txt-wrp::before {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  border-bottom: 10px solid #362f2d;
}

.products-list-block-txt1 {
  height: 15px;
  display: block;
  font-family: "raleway medium", verdana medium, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #c7b299;
}
.products-list-block:hover .products-list-block-txt1 {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  color: #ffffff;
}

.products-list-block-txt2 {
  height: 14px;
  display: block;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #d1d1d1;
  padding-top: 14px;
}

.products-list-block:hover .products-list-block-txt1 {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  color: #c7b299;
}

.products-list-btn1 {
  border: none;
  background: none;
  position: absolute;
  top: -174px;
  left: 144px;
  display: none;
}

.products-list-btn2 {
  border: none;
  background: none;
  position: absolute;
  top: -173px;
  left: 198px;
  display: none;
}

.products-list-block:hover .products-list-btn1 {
  display: block;
  outline: none;
}
.products-list-block:hover .products-list-btn2 {
  display: block;
  outline: none;
}

.btn-load-more-wrp {
  display: block;
  margin: 0 auto;
}

.btn-load-more {
  width: 170px;
  height: 50px;
  margin: 10px 0 80px 500px;
  padding: 13px 22px 10px 22px;
  min-height: 32px;
  border: none;
  border-radius: 3px;
  border: solid 1px #ebebeb;
  font-family: "raleway extrabold", "open sans extrabold", sans-serif;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
}

.btn-load-more:hover {
  background-color: #d3c1ad;
  color: #fff;
}
.btn-load-more:active {
  background-color: #998675;
  color: #fff;
}

.wrap-video {
  position: relative;
  min-height: 705px;
}
.video {
  outline: none;
  width: 1920px;
  height: 705px;
}

.video:active .presentation {
  display: none;
}

/* убирает контроллеры у видео*/
.video::-webkit-media-controls {
  display: none !important;
}

.presentation {
  position: absolute;
  width: 560px;
  min-height: 290px;
  top: 210px;
  left: 680px;
}

.play-svg {
  fill: white;
  margin: 15px;
}
.play-blok:hover .play-svg {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  fill: #d3c1ad;
}

.play-blok:active .play-svg {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  fill: #ddcfc3;
}
.play-blok {
  width: 100px;
  height: 100px;
  background-color: #0000003d;
  margin: 0 auto;
  border-radius: 50%;
}

.play-blok:hover {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  background-color: #00000050;
}
.play-blok:active {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  background-color: #00000034;
}

.presentation-h2 {
  width: 383px;
  height: 23px;
  font-family: "raleway medium", "open sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 90px;
}

.presentation-txt {
  width: 560px;
  height: 44px;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.presentation-time {
  width: 36px;
  height: 11px;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #c7b299;
  margin-left: 265px;
}

.mobile {
  width: 1920px;
  min-height: 695px;
  background-color: #fbfaf8;
  display: flex;
}

.mobile-img {
  margin-left: 423px;
  margin-top: 80px;
}
.mobile-txt {
  margin-top: 194px;
  margin-left: 31px;
}

.mobile-h2 {
  width: 408px;
  height: 24px;
  font-family: "raleway semibold", "open sans semibold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}

.mobile-p {
  width: 665px;
  height: 100px;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  text-align: justify;
  line-height: 1.75;
  letter-spacing: normal;
  color: #8c8c8c;
  margin: 38px 0 44px 0;
}
.mobile-list {
  height: 112px;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #8c8c8c;
  margin: 0 0 0 79px;
  padding: 0 0 0 0;
}

.mobile-list-item {
  list-style-type: none;
  position: relative;
  padding: 0 0 0 10px;
}
.mobile-list-item:before {
  content: "";
  display: block;
  width: 20px;
  min-height: 20px;
  position: absolute;
  top: 5px;
  left: -29px;
  background-image: url(../img/list-marker.svg);
  background-size: cover;
}

.progress {
  width: 1920px;
  min-height: 300px;
  background-image: linear-gradient(to top, #211b19, #4e3427);
  display: flex;
  justify-content: center;
}
.progress-box {
  display: block;
  width: 140px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 30px;
}

.progress-box:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 30px 0 0 55px;
}

.progress-svg {
  margin: 69px 0 0 46px;
}

.progress-box:hover svg.progress-svg {
  fill: white;
}
.progress-point {
  display: block;
  height: 35px;
  font-family: "montserrat ultralight", verdana, sans-serif;
  font-size: 48px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 30px 0 0 0;
}

.progress-txt {
  height: 11px;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #c7b299;
  margin: 19px 0 0 0;
}
