@font-face {
  font-family: "fontawesome-webfont";
  src: url("../fonts/fontawesome/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/fontawesome/fontawesome-webfont.woff2") format("woff2"),
    url("../fonts/fontawesome/fontawesome-webfont.woff") format("woff"),
    url("../fonts/fontawesome/fontawesome-webfont.ttf") format("ttf");
  /*font-weight: 400;
  font-style: normal;*/
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/regular/montserrat-regular.eot");
  src: url("../fonts/montserrat/regular/montserrat-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat/regular/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat/regular/montserrat-regular.woff") format("woff"),
    url("../fonts/montserrat/regular/montserrat-regular.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/light/montserrat-light.eot");
  src: url("../fonts/montserrat/light/montserrat-light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat/light/montserrat-light.woff2") format("woff2"),
    url("../fonts/montserrat/light/montserrat-light.woff") format("woff"),
    url("../fonts/montserrat/light/montserrat-light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/ultralight/montserrat-ultralight.eot");
  src: url("../fonts/montserrat/ultralight/montserrat-ultralight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat/ultralight/montserrat-ultralight.woff2")
      format("woff2"),
    url("../fonts/montserrat/ultralight/montserrat-ultralight.woff")
      format("woff"),
    url("../fonts/montserrat/ultralight/montserrat-ultralight.ttf")
      format("ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/regular/roboto-regular.eot");
  src: url("../fonts/roboto/regular/roboto-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto/regular/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto/regular/roboto-regular.woff") format("woff"),
    url("../fonts/roboto/regular/roboto-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/bold/raleway-bold.eot");
  src: url("../fonts/raleway/bold/raleway-bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/bold/raleway-bold.woff2") format("woff2"),
    url("../fonts/raleway/bold/raleway-bold.woff") format("woff"),
    url("../fonts/raleway/bold/raleway-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/extrabold/raleway-extrabold.eot");
  src: url("../fonts/raleway/extrabold/raleway-extrabold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/extrabold/raleway-extrabold.woff2") format("woff2"),
    url("../fonts/raleway/extrabold/raleway-extrabold.woff") format("woff"),
    url("../fonts/raleway/extrabold/raleway-extrabold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/medium/raleway-medium.eot");
  src: url("../fonts/raleway/medium/raleway-medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/medium/raleway-medium.woff2") format("woff2"),
    url("../fonts/raleway/medium/raleway-medium.woff") format("woff"),
    url("../fonts/raleway/medium/raleway-medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/regular/raleway-regular.eot");
  src: url("../fonts/raleway/regular/raleway-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/regular/raleway-regular.woff2") format("woff2"),
    url("../fonts/raleway/regular/raleway-regular.woff") format("woff"),
    url("../fonts/raleway/regular/raleway-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/semibold/raleway-semiBold.eot");
  src: url("../fonts/raleway/semibold/raleway-semiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/semibold/raleway-semiBold.woff2") format("woff2"),
    url("../fonts/raleway/semibold/raleway-semiBold.woff") format("woff"),
    url("../fonts/raleway/semibold/raleway-semiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

.clearfix {
  overflow: auto;
}
a {
  text-decoration: none;
}
svg {
  fill: #fff;
}
svg:hover {
  fill: #c7b299;
}
svg:active {
  fill: #a48d72;
}

body {
  width: 1920px;
  font-size: 14px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  width: 1920px;
}

a:hover {
  color: #c7b299;
}
a:active {
  color: #d3c1ad;
}

.header-block {
  padding: 40px;
  background-image: url(../img/header.jpg);
  background-size: cover;
}

.header-top {
  width: 1170px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 160px;
}
.logo-block {
  display: flex;
}

.logo {
  fill: white;
  top: 40px;
  width: 64px;
  min-height: 56px;
  z-index: 446;
  float: left;
}

.logo:hover {
  fill: #c7b299;
}

.logo-txt {
  font-family: "raleway", "open sans", sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #ffffff;
  display: block;
  padding: 10px 0 0 0;
}

.logo-txt:hover {
  color: #c7b299;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: flex-end;
}

.menu-ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
  display: flex;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding-left: 30px;
  display: block;
  width: 100%;
  text-align: center;
}

.button-cart {
  background: transparent;
  display: block;
  outline: none;
  border: none;
  padding: 0;
  min-height: 24px;
  margin-left: 65px;
}
.button-cart:active {
  fill: #c7b299;
}

.search-form {
  width: 24px;
  min-height: 24px;
  margin: 15px 0 0 28px;
  position: relative;
}

.search-form-img {
  width: 24px;
  height: 24px;
}

.search-form-input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40px;
  left: -119px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}

.search-form-input:focus {
  width: 150px;
  min-height: 20px;
  transition: width 0.3s ease;
  border: 1.5px solid #998675;
}

.header-carousel {
  margin: 277px 150px 0 150px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.carousel-lr {
  width: 40px;
  min-height: 73px;
  fill: #d3c1ad;
  margin: 110px 0 0 0;
}

.carousel-lr:hover,
.carousel-lr:active {
  fill: #f1eee9;
}

.carousel-txt {
  width: 589px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.carousel-h2 {
  font-family: "raleway medium", "open sans", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  margin: 0 auto;
}
.carousel-h1 {
  font-family: "raleway extrabold", "open sans extrabold", sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

.carousel-txt-p {
  font-family: "montserrat light", "verdana", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 50px;
}

.carousel-btn-txt {
  display: block;
  text-decoration: none;
  width: 170px;
  min-height: 53px;
  font-family: "raleway extrabold", "open sans extrabold", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
  border-radius: 3px;
  margin: 0 auto;
  text-align: center;
  line-height: 53px;
}

.carousel-btn-txt:hover {
  background-color: #c7b299;
  color: #ffffff;
}

.pagination {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin: 324px 0 0 872px;
}

.pagination-img {
  display: block;
  width: 11px;
  height: 11px;
  opacity: 0.5;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid transparent;
}

.pagination-img:hover {
  background-color: transparent;
  border: 1px solid #d3c1ad;
  transform: scale(1.5);
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.options-block1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.options-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.options-block:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}
.options-block1:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.options-block:hover .options-svg {
  fill: #c7b299;
}
.options-block1:hover .options-svg {
  fill: #c7b299;
}

.options-block:hover .options-block-h2 {
  color: #c7b299;
}
.options-block1:hover .options-block-h2 {
  color: #c7b299;
}

.options-block:hover:after {
  background-color: #c7b299;
}
.options-block1:hover:after {
  background-color: #c7b299;
}

.options-svg {
  display: block;
  fill: #555555;
  margin: 0 0 20px 0;
}

.options-block-h2 {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "raleway semibold", "open sans semibold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #555555;
}

.options-block-txt {
  font-family: "montserrat light", "verdana", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.screenshot {
  margin: 0 auto;
  width: 1920px;
  height: 700px;
  background-color: #fbfaf8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screenshot-h2 {
  width: 500px;
  height: 30px;
  font-family: "raleway semibold", "open sans semibold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
  margin-top: 84px;
}

.screenshot-txt {
  width: 719px;
  height: 44px;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
  margin: 20px 0 0 0;
}

.screenshot-img {
  position: relative;
  width: 1230px;
}

.img-left {
  position: absolute;
  margin: 122px 0 0 0;
}

.img-center {
  position: absolute;
  margin: 40px 0 0 230px;
}

.img-right {
  position: absolute;
  margin: 122px 0 0 460px;
}

.advertising {
  min-height: 150px;
  background-image: linear-gradient(to top, #211b19, #4e3427);
  padding: 0 374px 0 376px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.advertising-text {
  float: left;
  margin-right: 373px;
}

.advertising-btn {
  float: left;
  margin: 50px 0 0 0;
}

.btn-txt {
  display: block;
  text-decoration: none;
  width: 170px;
  min-height: 50px;
  font-family: "raleway extrabold", "open sans extrabold", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
  border-radius: 3px;
  margin: 0 0 0 0;
  text-align: center;
  line-height: 53px;
}
.btn-txt:hover {
  background-color: #c7b299;
  color: #ffffff;
}

.advertising-txt {
  width: 530px;
  height: 27px;
  font-family: "raleway regular", "open sans regular", sans-serif;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.advertising-logo-txt {
  width: 530px;
  height: 27px;
  font-family: "raleway regular", "open sans regular", sans-serif;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #c7b299;
}

.advertising-logo-txt:hover {
  color: #fff;
}

.advertising-p {
  width: 463px;
  height: 18px;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #615855;
  margin: 8px;
}

.products {
}

.products-h2 {
  height: 28px;
  font-family: "raleway semibold", "open sans semibold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
  display: block;
  margin: 0 auto;
  margin-bottom: 23px;
}

.products-p {
  width: 719px;
  height: 44px;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
.products-btn {
  display: flex;
  justify-content: center;
}

.products-btn-item {
  margin: 0 5px 0 5px;
  padding: 13px 22px 10px 22px;
  min-height: 32px;
  border: none;
  border-radius: 3px;
  border: solid 1px #ebebeb;
  font-family: "montserrat light", verdana, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
}

.products-btn-item:hover {
  background-color: #998675;
  color: #fff;
}